.footer {
    width: 100%;
    height: 80px;
    background-color: var();
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
}
.footer a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100%;
    
}
.footer i {
    font-size: 44px;
    color: bisque;
}